<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="UMsqlConnectionString" value="Server=localhost\SQLEXPRESS;Database=ArrowNav;Trusted_Connection=True"/>
		<add key ="LogsqlConnectionString" value="Server=localhost\SQLEXPRESS;Database=ArrowNav;Trusted_Connection=True"/>
		<add key="ArchiveTxtPath" value="C:\Users\spenc\OneDrive\Desktop\log-" />
		<add key="ArchvieZipPath" value="C:\Users\spenc\OneDrive\Desktop\log-" />
		<add key ="TxtFileExtension" value=".txt"/>
		<add key ="ZipFileExtension" value=".zip"/>
	</appSettings>
</configuration>