USE [master]
GO
/****** Object:  Database [ArrowNav]    Script Date: 12/14/2021 12:17:30 PM ******/
CREATE DATABASE [ArrowNav]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArrowNav', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ArrowNav.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArrowNav_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ArrowNav_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArrowNav].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArrowNav]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 12/14/2021 12:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[email] [varchar](500) NULL,
	[passphrase] [varchar](500) NULL,
	[accountStatus] [varchar](500) NULL,
	[accountType] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logging]    Script Date: 12/14/2021 12:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logging](
	[logs] [varchar](500) NULL,
	[UtcTimeStamp] [datetimeoffset](0) NULL,
	[logLevel] [varchar](500) NULL,
	[userPerformingOperator] [varchar](500) NULL,
	[category] [varchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
