.notification-container {
    visibility: hidden;
    transition: width 2s;
    background-color: palegreen;
    float: right;
    width: 30%;
    border-radius: 8px;
    text-align: center;
}

.WellnessHub {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.body {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.WellnessHub button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
}